.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}

.filters>div {
  display: flex;
  gap: 1rem;
}

@media (width < 500px) {
  .filters {
    flex-direction: column;
    gap: 1.7rem;
  }
}